.card-img-top{
  height:80px;
  width:100px;
  border-radius:100px;
  padding:0px;
}
.cont{
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  align-items: flex-start;
    justify-content: center;
}
.card {
  background:white;
  width: 24em;
  border-radius: 0.6em; 
   overflow: hidden; 
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   /* border-radius: 50%; */
  box-shadow: 0 0 50px #ccc; 

  transition: all ease-in-out 200ms; 
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
